<!-- Social links list -->
<div class="social-links">
	<div style="position: relative; width: 30%; float: left; display: block;">
	  <p class="grey-text" style="margin: 0;">Twitter</p>
	  <p class="grey-text" style="margin: 0;">LinkedIn</p>
	  <p style="margin: 0;"><a class="internal-link" href="https://jonmccullough.com/">Back to jonmccullough.com</a> ↗</p>
	</div>
	<div style="position: relative; width: 70%; float: left; display: block;">
	  <p style="margin: 0;"><a target="blank" href="https://twitter.com/jonmccull">jonmccull</a> ↗</p>
	  <p style="margin: 0;"><a target="blank" href="https://www.linkedin.com/in/jonmccullough/">jonmccull</a> ↗</p>
	</div>
  </div>
<!-- .social-links -->

