<!DOCTYPE html>
<html lang="en">
   
   {% include head.html %}

<div class="container-grid">

    <!-- The hero section with blog cover image as a background defined in style.css -->
    <div class="hero-container">
      <div class="hero-wrap">
      <div class="hero-wrap-bg">
      <section class="hero outer fadeInDown delay_050s">
        <div class="inner">
         <p class="hero-avatar"><img src="/assets/jon-mccullough.jpg" alt="Jon McCullough" class="avatar" /></p>       

          <h2 class="hero-title">Hi there!</h2>
          <p class="hero-description">My name is Jon McCullough. I'm a Canadian marketer based in Oslo working at <a class="internal-link" href="/vivaldi/">Vivaldi</a>. Right now I'm probably eating 🍕</p>

          {% include social-links.html %}

        </div><!-- .inner -->
      </section><!-- .hero -->
      </div><!-- .hero-wrap-bg -->
    </div><!-- .hero-wrap -->
   </div><!-- .hero-container grid element-->

    <main class="main">
      <body>
              {{ content }}
      </body>
    </main>

{% include link-previews.html wrapperQuerySelector="content" %}

  </div><!-- .container-grid -->
</html>
