<!DOCTYPE html>
<html lang="en">
   
   {% include head.html %}

  <div class="index-grid">

    <p class="profile-pic"><img src="/assets/jon-mccullough.webp" alt="Jon McCullough"/></p>       

    <div class="hero-text">
      <h2 class="hero-title">Hi, I'm Jon.</h2>
      <p class="hero-description">I'm a product marketer based in Oslo working at <a class="internal-link" href="/vivaldi/">Vivaldi</a>.</p>
      <p class="hero-description">The notes I post here are a constant work-in-progress. They're never "done". Think <a href="https://maggieappleton.com/garden-history">digital garden</a> rather than personal blog.</p>
      <p class="hero-description">Have a look around and let me know what you think!</p>

      <div class="social-links">{% include social-links.html %}</div>
    </div>

    <div class="index-body">{{ content }}</div>

  </div><!-- .index-grid -->
</html>
